@{
    ViewData["Title"] = "Home Page";
}

@*Main Layton Temple Pic*@
<img src="~/img/LaytonTemple.jpg" class="img-fluid rounded" />
<br />
<br />


@*Basic info about temple*@
<div>
    <h2 class="text-center">Layton Utah Temple Tours</h2>
    <br />

    <h6>General Tour Instructions:</h6>
    <ul>
        <li>Masks are required</li>
        <li>Park on Rosewood (west side of the temple) and meet at the Visitors Center trailer</li>
        <li>Dress casual, except on Sunday</li>
    </ul>

    <h6>Special Accommodations:</h6>
    <ul>
        <li>Spanish-speaking tours are available on Thursday, Friday, Saturday or Sunday</li>
    </ul>

    <h6>Available Tours:</h6>
    <ul>
        <li>Tour (Outdoor): We have been asked to discontinue outside tours at this time</li>
        <li>Trailer Tour: All tours will be inside the trailer. Masks are required</li>
    </ul>

    <h3 class="text-center">Please call 801-628-4488 or email LaytonTempleTours@gmail.com with questions or special requests!</h3>

    <h6>Location:</h6>
    <p>1400 East Oakhills Drive, Layton, Utah 84040</p>
    <a href="https://www.google.com/maps/search/?api=1&query=1500+E+Oak+Hills+Drive+Layton+UT+84040">Open In Google Maps</a>

</div>

<br />
<br />


@*Sign up button*@
<a class="btn btn-block btn-primary text-white" asp-action="Availability">Sign Up For a Tour</a>