<form>
    <label>Time Of Tour</label>
    <!--input the time of the tour brought over from the page where they viewed times-->
    <br />
    <label>Name of Group</label>
    <input />
    <br />
    <label>Size of Group</label>
    <input />
    <br />
    <label>E-mail address</label>
    <input />
    <br />
    <label>Phone Number (Optional)</label>
    <input />

</form>
