<form>
    <label>Name of Group:</label>
    <input />
    <br />

    <label>Size of Group:</label>
    <input />
    <br />

    <label>Email Address:</label>
    <input />
    <br />

    <label>Phone Number:</label>
    <input />
    <br />

    <button type="submit">Make Reservation</button>
</form>